
	<br>
	<h1> Codeial Home Page up!!!!!!! aus EJS <%=title%> </h1>	
	<br>

	<section id = "feed-posts">
		<h4>Posts</h4>
		<%if(locals.user){%>
		<form id ="new-post-form" action="/posts/create" method="POST">

			<textarea name="content" cols="30" row="10"  placeholder = "Typein here..." required ="true"></textarea>
			<input type="submit" value="Post"></input>
		</form>
		<%}%>
		
		<div id="posts-list-container">

			<ul>
				<% for(post of posts){ %>
				<li>

					<p>
						<!-- Check if the user is signed in and that particular user has created 
							that particular post
						-->
						<%if(locals.user && locals.user.id == post.user.id){%>
						<small>
							<a href="/posts/destroy/<%= post.id%>">X</a>
						</small>
						<%}%>
					<%=post.content%>
					<br>
					<small><%=post.user.name%></small>				
					
					</p>
					<div class ="post-comments">
						<%if (locals.user){%>
							<form action="/comments/create" method ="POST">
								<input type = "text" name ="content" required="true" placeholder ="Type In.. Comments">
								<input type ="hidden" name = "post" value = "<%=post._id%>">
								<input type = "submit" value = "Add Comment">

							</form>
							<%}%>
							<div class = "post-comments-list">
								
								<ul id = "post-comments-<%=post._id%>">
									<% for(comment of post.comments){%>
										<p>
											<%if(locals.user && locals.user.id == comment.user.id){%>
												<small>
													<a href="/comments/destroy/<%= comment.id%>">X</a>
												</small>
												<%}%>

											<%=comment.content%>
											<br>
											<small><%=comment.user.name%></small>
										</p>
										<%}%>

								</ul>
							</div>

					</div>
				</li>
				<%}%>
			</ul>
		</div>

	</section>

	<!-- <section id = "post-section">
		<form action = "" method ="POST">
			<textarea name = "content" cols = "25" row = "10" placeholder = "Type In..." required ="true"></textarea>
			<input type = "submit" value ="POST">

		</form>

	</section> -->
	