

<html>
<head><title><%=title%></title>
<link rel = "stylesheet" href = "../css/layout.css">
<%- style %>
</head>
<body>

	
	<br>
	<%-include('_pageHeader')%>
	<%- body%>
	
	<br>
	<%- include('_pageFooter')%>
<%- script %>
</body>
</html>