

<html>
<head><title><%=title%></title>
<link rel = "stylesheet" href = "/css/layout.css">
<link rel="stylesheet"   href = "/css/headers.css">
<link rel="stylesheet"   href =  "/css/footer.css">
<%- style %>
</head>
<body>

	
	
	<%-include('_pageHeader')%>
	<%if(flash.success && flash.success.length>0){%>
		<h6>
			<%= flash.success%>
		</h6>
		
		<%}%>
	<br>
	<main id="layoutMain">
		<%- body%>
	</main>
	
	
	<br>
	<%- include('_pageFooter')%>
<%- script %>
</body>
</html>