
<link rel="stylesheet" type="text/css" href="/css/user_Profile.css">
<br>
<h2>Ihr Profile ist schon aktulisiert. Es  ist Ihr <%=title%> </h2>
<br>

<%if(user.id == currentUser.id){%>
    <!-- if the user.id and currentUser.id matches then only show the form-->
    <form action ="/users/update/<%=currentUser.id%>" method="POST">
    <input type = "text" name ="name" required ="true" placeholder ="Your Name..." value="<%=currentUser.name%>"/>
    <input type = "email" name ="email" required ="true" placeholder ="Your Email..." value="<%=currentUser.email%>"/>
    <input type = submit value = "Update">
    </form>

    <%}else{%>
        <!-- Else show only the Profile Info-->
        <p><h2 id ="h2">Ihr Registiert Email mit uns: </h2>  <%=currentUser.email%></p>
        <p><h2 id ="h2">Ihr Amtliche Name mit uns: </h2> <%=currentUser.name%></p>

        <%}%>
